body {
  background-color: ivory;
}

.image {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.subject {
  text-align: center;
}
.name {
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
}
.order_subject {
  width: 100px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.order_button {
  text-align: center;
}
