.wrap {
    width: 500px;
    margin: 50px auto;
}

img {
    border: black 1px solid;
}

.product {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-info {
    display: inline-flex;
    align-items: baseline;
}

.product-info > h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}

.product-info > h2 {
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

.product > p {
    font-size: 14px;
    font-weight: 300;
}

.product-order > h2 {
    font-size: 18px;
    font-weight: medium;
    margin-top: 20px;
    margin-bottom: 5px;
}

.changerate {
    font-size: 12px;
    margin-bottom: 20px;
    color: grey;
}

.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    align-items:center;
    font-size: 12px;
    margin-bottom: 20px;
}

.input-container > input {
    width: 400px;
    margin-left: auto;
    padding: 6px 12px;
    border: 1px solid lightgrey;
}

.input-container > select {
    width: 400px;
    margin-left: auto;
    border: 1px solid lightgrey;
    padding: 6px 12px;
    font-family: inherit;
    border-radius: 0px;
    background: url('arrow-down.jpeg') no-repeat 99% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.order-input {
    margin-bottom: 100px;
}